In [22]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib2
# import re
import urllib.request
from urllib.request import urlopen

In [23]:
url = f'https://en.wikipedia.org/wiki/Impact_event'

In [24]:
html = requests.get(url).content

soup = bs(html, "lxml")

table = soup.find('table',{'class':'wikitable sortable'})

print(table)
# links = table.find_all('a')
# links
# impact_events = []
# for impact in links:

<table class="wikitable sortable">
<caption>Jupiter impact events
</caption>
<tbody><tr>
<th>Event
</th>
<th>Date (UTC)
</th>
<th>Rough original<br/>size (meters)
</th>
<th>Latitude (°)
</th>
<th>Longitude (°)
</th></tr>
<tr>
<td>May 2017 event<sup class="reference" id="cite_ref-Hueso2018_93-0"><a href="#cite_note-Hueso2018-93">[93]</a></sup></td>
<td>2017/05/26 19:25</td>
<td>13</td>
<td>+51.2</td>
<td>?
</td></tr>
<tr>
<td>Mar 2016 event<sup class="reference" id="cite_ref-Hueso2018_93-1"><a href="#cite_note-Hueso2018-93">[93]</a></sup></td>
<td>2016/03/17 00:18:33</td>
<td>15</td>
<td>+4</td>
<td>?
</td></tr>
<tr>
<td>Sep 2012 event<sup class="reference" id="cite_ref-jup_94-0"><a href="#cite_note-jup-94">[94]</a></sup><sup class="reference" id="cite_ref-Hueso2018_93-2"><a href="#cite_note-Hueso2018-93">[93]</a></sup></td>
<td>2012/09/10 11:35:00</td>
<td>30</td>
<td>+2</td>
<td>345
</td></tr>
<tr>
<td>Aug 2010 event<sup class="reference" id="cite_ref-jup_94-1"><a href="#cite_note-jup-94">[94]</a></sup><sup class="reference" id="cite_ref-Hueso2018_93-3"><a href="#cite_note-Hueso2018-93">[93]</a></sup></td>
<td>2010/08/20 18:22:12</td>
<td>10</td>
<td>+11</td>
<td>?
</td></tr>
<tr>
<td>Jun <a href="/wiki/2010_Jupiter_impact_event" title="2010 Jupiter impact event">2010 Jupiter impact event</a></td>
<td>2010/06/03 20:31:20</td>
<td>12</td>
<td>−16.1</td>
<td>342.7
</td></tr>
<tr>
<td>Jul <a href="/wiki/2009_Jupiter_impact_event" title="2009 Jupiter impact event">2009 Jupiter impact event</a></td>
<td>2009/07/19 13:30</td>
<td>300</td>
<td>−57</td>
<td>305
</td></tr>
<tr>
<td>Jul 1994 <a href="/wiki/Comet_Shoemaker%E2%80%93Levy_9" title="Comet Shoemaker–Levy 9">Comet Shoemaker–Levy 9</a></td>
<td>1994/07/16-22</td>
<td>1800</td>
<td>−65</td>
<td>?
</td></tr></tbody></table>

In [25]:
rows = table.find_all('tr')
rows = [row.text.strip().split("\n") for row in rows]

rows
  
df = pd.DataFrame(rows)

df

,0,1,2,3,4,5,6,7,8
0,Event,,Date (UTC),,Rough originalsize (meters),,Latitude (°),,Longitude (°)
1,May 2017 event[93],2017/05/26 19:25,13,+51.2,?,None,None,None,None
2,Mar 2016 event[93],2016/03/17 00:18:33,15,+4,?,None,None,None,None
3,Sep 2012 event[94][93],2012/09/10 11:35:00,30,+2,345,None,None,None,None
4,Aug 2010 event[94][93],2010/08/20 18:22:12,10,+11,?,None,None,None,None
5,Jun 2010 Jupiter impact event,2010/06/03 20:31:20,12,−16.1,342.7,None,None,None,None
6,Jul 2009 Jupiter impact event,2009/07/19 13:30,300,−57,305,None,None,None,None
7,Jul 1994 Comet Shoemaker–Levy 9,1994/07/16-22,1800,−65,?,None,None,None,None

In [26]:
impact_table = df.to_csv (r'C:\Users\anielkaaslan\Documents\data-labs\module-1\web-project\impact.csv', index = None, header=True)