# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
# import libraries
import numpy as np
import pandas as pd

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set
pokemon = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [3]:
# enter your code here
pokemon[:10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# enter your code here
type1 = pokemon['Type 1'].unique()
type2 = pokemon['Type 2'].unique()

In [5]:
print(type1)
print(type2)

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']

In [6]:
all_types = np.where(
    type2 not in type1, # conditional
    type1, # return True
    np.NaN, # return False
)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

In [7]:
all_types

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [8]:
# enter your code here

# pseudocode: in the data-value-cell, wherever 'Mega' starts, drop everything before that Index

# pokemon['Name2'] = np.where(
#     pokemon['Name'].str.contains("Mega"), # my conditional, string
#     pokemon['Name'].str.split("Mega")[1], # return the second part of the split
#     pokemon['Name'], # return the regular value
# )
# the above didn't work, because the np.where's second argument, the "return this if true" value, is computed
# once and then used all throughout, so my name becomes 'ivysaur' since that's ['Name'][1], and it replaces it every time

pokemon['Name'] = pokemon['Name'].apply(lambda x: "Mega " + x.split('Mega')[1] if 'Mega' in x else x)

# test transformed data

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [9]:
# enter your code here
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']

### Identify the pokemon with the highest `A/D Ratio`

In [10]:
# enter your code here
# pokemon['A/D Ratio'].max() # doesn't return the whole row


# df.iloc[df['columnX'].argmax()]
# pokemon['Name'].iloc[pokemon['A/D Ratio'].argmax()]


pokemon.sort_values(by='A/D Ratio', ascending=False)[:1]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

In [11]:
pokemon['Name'].iloc[np.argmax(pokemon['A/D Ratio'])]

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:56: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  return getattr(obj, method)(*args, **kwds)

'DeoxysAttack Forme'

### Identify the pokemon with the lowest A/D Ratio

In [12]:
# enter your code here

# pokemon['Name'].iloc[pokemon['A/D Ratio'].argmin()]

pokemon.sort_values('A/D Ratio')[:1]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

In [13]:
pokemon['Name'].iloc[np.argmin(pokemon['A/D Ratio'])]

/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:56: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  return getattr(obj, method)(*args, **kwds)

'Shuckle'

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [14]:
# first answer, are there null values in type 1?
pokemon['Type 1'].isna().sum() # returns 0
pokemon['Type 2'].isna().sum() # returns 386

386

In [15]:
# enter your code here
pokemon['Combo Type'] = np.where(
    pokemon['Type 2'].notnull(), # conditional
    pokemon['Type 1'] + "/" + pokemon['Type 2'], # return if True
    pokemon['Type 1'], # return if False
)

In [16]:
pokemon['Combo Type'].head()

0    Grass/Poison
1    Grass/Poison
2    Grass/Poison
3    Grass/Poison
4            Fire
Name: Combo Type, dtype: object

In [17]:
pokemon.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass/Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass/Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass/Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass/Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire/Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire/Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire/Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,0.787500,Water
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,0.830000,Water
12,9,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,0.858333,Water
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,0.857143,Bug
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,0.363636,Bug

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [18]:
# enter your code here
pokemon.sort_values('A/D Ratio', ascending=False)[:5]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water/Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug/Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water/Dark

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [19]:
# enter your code here
top_5_ad = pokemon.sort_values('A/D Ratio', ascending = False)[:5]

In [20]:
top_5_ad

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water/Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug/Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water/Dark

In [21]:
top_5_byType = top_5_ad.groupby(['Combo Type'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water/Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug/Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water/Dark

In [22]:
top_5_byType.describe()

               #                                                       Total  \
           count   mean       std    min     25%    50%     75%    max count
Combo Type
Bug/Poison   1.0   15.0       NaN   15.0   15.00   15.0   15.00   15.0   1.0
Psychic      1.0  386.0       NaN  386.0  386.00  386.0  386.00  386.0   1.0
Rock         1.0  408.0       NaN  408.0  408.00  408.0  408.00  408.0   1.0
Water/Dark   2.0  318.5  0.707107  318.0  318.25  318.5  318.75  319.0   2.0

                   ... Generation      A/D Ratio                         \
             mean  ...        75%  max     count   mean      std    min
Combo Type         ...
Bug/Poison  495.0  ...        1.0  1.0       1.0  3.750      NaN  3.750
Psychic     600.0  ...        3.0  3.0       1.0  9.000      NaN  9.000
Rock        350.0  ...        4.0  4.0       1.0  3.125      NaN  3.125
Water/Dark  382.5  ...        3.0  3.0       2.0  3.750  1.06066  3.000


              25%    50%    75%    max
Combo Type
Bug/Poison  3.750  3.750  3.750  3.750
Psychic     9.000  9.000  9.000  9.000
Rock        3.125  3.125  3.125  3.125
Water/Dark  3.375  3.750  4.125  4.500

[4 rows x 80 columns]

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [27]:
# enter your code here
# top_5_ad.groupby(['Combo Type']).agg(['mean'])
# newdf = df.select_dtypes(include=numerics)
# top_5_numerics = top_5_ad.select_dtypes(include = numerics)
top_5_byType.agg(['mean'])

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
Combo Type,,,,,,,,,,,
Bug/Poison,15.0,495.0,65.0,150,40,15,80,145,1,False,3.750
Psychic,386.0,600.0,50.0,180,20,180,20,150,3,True,9.000
Rock,408.0,350.0,67.0,125,40,30,30,58,4,False,3.125
Water/Dark,318.5,382.5,57.5,105,30,80,30,80,3,False,3.750